<div class="container1">
  <a href="/add">
    <button class="btn btn-success">Add student</button>
  </a>
  <a href="/list">
    <button class="btn btn-dark">View students list</button>
  </a>

</div>